<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>uu杂货铺主页</title>
    <style>
        .el-carousel__item h3 {
            color: #475669;
            font-size: 14px;
            opacity: 0.75;
            line-height: 200px;
            margin: 0;
        }

        .el-carousel__item:nth-child(2n) {
            background-color: #99a9bf;
        }

        .el-carousel__item:nth-child(2n+1) {
            background-color: #d3dce6;
        }
        .el-carousel-item img{
            width: 100%;
            height: 100%;
        }
        img{
            /*设置图片宽度和浏览器宽度一致*/
            width:100%;
            height:inherit;
        }

        .time {
            font-size: 13px;
            color: #999;
        }

        .bottom {
            margin-top: 13px;
            line-height: 12px;
        }

        .button {
            padding: 0;
            float: right;
        }

        .image {
            width: 100%;
            display: block;
        }

        .clearfix:before,
        .clearfix:after {
            display: table;
            content: "";
        }

        .clearfix:after {
            clear: both
        }
    </style>
</head>
<body>

<div id="app">

<!--    //顶部导航条-->
    <el-menu
            :default-active="activeIndex2"
            class="el-menu-demo"
            mode="horizontal"
            @select="handleSelect"
            background-color="#545c64"
            text-color="#fff"
            active-text-color="#ffd04b">
        <el-menu-item index="1">处理中心</el-menu-item>
        <el-submenu index="2">
            <template slot="title">我的工作台</template>
            <el-menu-item index="2-1">选项1</el-menu-item>
            <el-menu-item index="2-2">选项2</el-menu-item>
            <el-menu-item index="2-3">选项3</el-menu-item>
            <el-submenu index="2-4">
                <template slot="title">选项4</template>
                <el-menu-item index="2-4-1">选项1</el-menu-item>
                <el-menu-item index="2-4-2">选项2</el-menu-item>
                <el-menu-item index="2-4-3">选项3</el-menu-item>
            </el-submenu>
        </el-submenu>
        <el-menu-item index="3" disabled>消息中心</el-menu-item>
        <el-menu-item index="4"><a href="https://www.ele.me" target="_blank">订单管理</a></el-menu-item>
    </el-menu>



<!--走马灯轮播图-->
    <template>
        <el-carousel :interval="4000" type="card" height="350px">
        <el-carousel-item v-for="item in imgwrap" :key="item.url">
            <img :src="item.url"/>
        </el-carousel-item>
        </el-carousel>
    </template>
    <el-divider></el-divider>
<!--    <el-input-->
<!--            placeholder="请输入内容"-->
<!--            v-model="input"-->
<!--            clearable-->
<!--            size="big">-->
<!--    </el-input>-->

<!--    商品信息卡片   Math.ceil(totalCount/4)-->
    <el-row type="flex" v-for="(s,totalIndex) in Math.ceil(totalCount/4)" :key="s" justify="center" align="middle" style="flex-direction: row;">
<template v-if="lossCount != 0 && s == Math.ceil(totalCount/4)">
    <el-col :span="5" v-for="(o, index) in lossCount" :key="o" :offset="index > 0 ? 2 : 0" >
        <el-card :body-style="{ padding: '0px' }" shadow="hover">
            <img src="./imgs/555.jpg" class="image">
            <div style="padding: 14px;">
                <span>好吃的汉堡</span>
                <div class="bottom clearfix">
                    <time class="time">{{ currentDate }}</time>
                    <el-button type="text" class="button">查看详情</el-button>
                    <!--                        <el-button type="danger" round>危险按钮</el-button>-->
                </div>
            </div>
        </el-card>
    </el-col>
</template>
        <template v-else>
            <el-col :span="5" v-for="(o, index) in 4" :key="o" :offset="index > 0 ? 2 : 0" >
                <el-card :body-style="{ padding: '0px' }" shadow="hover">
                    <img src="./imgs/555.jpg" class="image">
                    <div style="padding: 14px;">
                        <span>好吃的汉堡</span>
                        <div class="bottom clearfix">
                            <time class="time">{{ currentDate }}</time>
                            <el-button type="text" class="button">查看详情</el-button>
                            <!--                        <el-button type="danger" round>危险按钮</el-button>-->
                        </div>
                    </div>
                </el-card>
            </el-col>
        </template>


    </el-row>




</div>

<script src="js/vue.js"></script>
<script src="element-ui2/lib/index.js"></script>
<script src="js/axios-0.18.0.js"></script>
<link rel="stylesheet" href="element-ui2/lib/theme-chalk/index.css">

<script>
    new Vue({
        el:"#app",

         mounted(){
             this.selectAll();


        //     //this.selectAll();
        //     //this.selectAllTrue();
        //     //this.restaurants = this.selectAllTrue();
         },

        methods:{

            //查找所有商品
            selectAll(){
                    // var  _this = this;
                    // axios({
                    //     method:"get",
                    //     url:"http://localhost:8080/brand-case/brand/selectAll"
                    // }).then(function (resp){
                    //     _this.tableData = resp.data;
                    //     _this.totalCount = resp.data.totalCount;
                    //     _this.lossCount = resp.data.totalCount%4;
                    //     alert("totalCount"+this.totalCount);
                    //     alert("lossCount"+this.lossCount);
                    // })

                //var  _this = this;
                axios({
                    method:"post",
                    url:"http://localhost:8080/brand-case/brand/selectAll2",
                    data:this.brand2
                }).then(resp =>{
                    this.tableData = resp.data.rows;
                    this.totalCount = resp.data.totalCount;
                    this.lossCount = resp.data.totalCount%4;
                    alert("totalCount"+this.totalCount);
                    alert("lossCount"+this.lossCount);

                })

            },




        },

        data(){
            return{

                //商品数据
                tableData: [{
                    brandName: '华为',
                    companyName: '华为科技有限公司',
                    ordered: '100',
                    status: "1"
                }, {
                    brandName: '华为',
                    companyName: '华为科技有限公司',
                    ordered: '100',
                    status: "1"
                }, {
                    brandName: '华为',
                    companyName: '华为科技有限公司',
                    ordered: '100',
                    status: "1"
                }],
                //商品总数量
                totalCount:19,
                lossCount:2,
                //图片卡片
                currentDate: new Date(),
                //走马灯图片
                imgwrap:[
                    {url:"./imgs/reg01.jpg"},
                    {url:"./imgs/reg01.jpg"},
                    {url:"./imgs/reg01.jpg"},
                    {url:"./imgs/reg01.jpg"},

                ],
                drawer: false,
                direction: 'btt',
                screenWidth :0,
                size:'',
                input: ''


            }


        }



    })




</script>

</body>
</html>